!!!
%html
  %head
    %meta{charset: "utf-8"}/
    -#%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0", name: "viewport"}/
    %title PWC
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -#= favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    %section.wrapper
      = render "layouts/header"
      .clear
      .grey_mid_bg
        .container
          %p.notice= notice
          %p.alert= alert
          = yield
        .clear
        .bottom
          .copyright
            .container
              %p LLP Shop © 2014 — All rights reserved.
    -#= render 'layouts/footer'